<br>

<br>

<div style="width: 50%;float:left">
    <div>
        <mat-chip-listbox aria-label="hobbies selection">
    
            <mat-chip-option >Cooking</mat-chip-option>
          
            <mat-chip-option>Singing</mat-chip-option>
          
            <mat-chip-option  >Dancing</mat-chip-option>
          
            <mat-chip-option selected >Playing</mat-chip-option>
            <mat-chip-option color="warn">Travelling</mat-chip-option>
          
          </mat-chip-listbox>
    </div>
    <div>
        <mat-list>
            <mat-list-item>Math</mat-list-item>
            <mat-list-item>Chem</mat-list-item>
            <mat-list-item>Physics</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Bio</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Agri</mat-list-item>
            <mat-list-item>crop science</mat-list-item>
          </mat-list>
    </div>
</div>
<div style="width: 50%;float:right;margin-left: 61%; margin-top: -27%">
<br>
<div style="margin-left: 5%;width: 55%">
    <form >
        <mat-card class="example-card">
            <mat-card-header style="background-color:cadetblue"> 
                <br>
                <div mat-card-avatar class="example-header-image"></div>
                <!-- <mat-card-title style="float: left;"> Dashboard</mat-card-title>
                 --> <h3>Determinate Progress bar</h3>
                
              </mat-card-header>
          
            <mat-card-content>
                <br>
               
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </mat-card-content>
           
          </mat-card>
          
    </form>
</div>

<br>

<div style="margin-left: 5%;width: 55%">
    <form >
        <mat-card class="example-card">
            <mat-card-header style="background-color:blueviolet"> 
                <br>
                <div mat-card-avatar class="example-header-image"></div>
                <!-- <mat-card-title style="float: left;"> Dashboard</mat-card-title>
                 --> <h3>Indeterminate Progress bar</h3>
              </mat-card-header>
          
            <mat-card-content>
                <br>
               
                
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-content>
           
          </mat-card>
          
    </form>
</div>
<br>

<div style="margin-left: 5%;width: 55%">
    <form >
        <mat-card class="example-card">
            <mat-card-header style="background-color:aqua"> 
                <br>
                <div mat-card-avatar class="example-header-image"></div>
                <!-- <mat-card-title style="float: left;"> Dashboard</mat-card-title>
                 --> <h3>query Progress bar</h3>
              </mat-card-header>
          
            <mat-card-content>
                <br>
               
                
                <mat-progress-bar mode="query"></mat-progress-bar>
            </mat-card-content>
           
          </mat-card>
          
    </form>
</div>
<br>

<div style="margin-left: 5%;width: 55%;">
    <form >
        <mat-card class="example-card">
            <mat-card-header style="background-color:darkkhaki"> 
                <br>
                <div mat-card-avatar class="example-header-image"></div>
                <!-- <mat-card-title style="float: left;"> Dashboard</mat-card-title>
                 --> <h3>buffer Progress bar</h3>
              </mat-card-header>
          
            <mat-card-content>
                <br>
               
                
                <mat-progress-bar mode="buffer"></mat-progress-bar>
            </mat-card-content>
           
          </mat-card>
          
    </form>
</div>

</div>


