<br>
<br>
<div class="contents">

   
  <div style="padding: 10px;width: 56%;margin-left:233px" >
    <form >
        <mat-card class="example-card">
            <mat-card-header style="background-color:white;border-bottom: 1px solid grey;"> 
                <br>
                <div mat-card-avatar ></div>
                <mat-card-title style="padding: 10px;margin-left:-52px" > About Us</mat-card-title>
                
              </mat-card-header>
          <br>
            <mat-card-content style="width: auto;">
              <div style="color: rgb(32, 65, 133); font-weight: bold; font-family: Arial,Helvetica,sans-serif;">
                <p align="justify" style="margin-right: 15px">
                <font color="#000000" face="Verdana">
                <span style="font-size: 8pt; font-weight: 400">
                
                Pune is 
                the main 
                educational 
                center 
                of 
                Maharashtra. 
                Numerous 
                students 
                from 
                every 
                corner 
                of India 
                and the 
                world 
                come to 
                Pune. It 
                is quite 
                safe and 
                peaceful 
                city as 
                compared 
                to other 
                educational 
                centers 
                in 
                India. 
                The 
                climate 
                of Pune 
                is 
                pleasant 
                and good 
                for 
                health. 
                The city 
                of Pune 
                houses 
                many 
                well-known, 
                established 
                institutes 
                and 
                colleges.
                </span>
                <span style="font-size: 8pt">
                Savitribai 
                Phule 
                Pune 
                University</span><span style="font-size: 8pt; font-weight: 400"> 
                is one 
                of the 
                finest 
                and most 
                popular 
                educational 
                centers 
                in the 
                city. It 
                offers 
                excellent 
                programs 
                in 
                various 
                areas 
                including 
                Science, 
                Commerce, 
                Arts, 
                Languages 
                and 
                Management 
                Studies.<br>
                <br>
                </span>
                <font style="font-size: 8pt">
                <span style="font-size: 8pt">
                About 
                Savitribai 
                Phule 
                Pune 
                University</span></font><font style="font-size: 8pt; font-weight: 400">
                <span style="font-size: 8pt; font-weight: 400">
                <br><br>
                </span>
                </font>
                <span style="font-size: 8pt">
                <font style="font-size: 8pt">
                Savitribai 
                Phule 
                Pune 
                University</font></span><span style="font-size: 8pt; font-weight: 400"><font style="font-size: 8pt; font-weight: 400">, 
                one of 
                the 
                premier 
                universities 
                in 
                India, 
                is 
                positioned 
                in the 
                North-western 
                part of 
                Pune 
                city. It 
                occupies 
                an area 
                of about 
                411 
                acres. 
                It was 
                established 
                on 10th 
                February, 
                1949 
                under 
                the 
                Poona 
                University 
                Act. The 
                university 
                houses 
                46 
                academic 
                departments. 
                It is 
                popularly 
                known as 
                the 
                'Oxford 
                of the 
                East'. 
                It has 
                about 
                307 
                recognized 
                research 
                institutes 
                and 612 
                affiliated 
                colleges 
                offering 
                graduate 
                and 
                under-graduate 
                courses.
                <br><br>
               </font></span></font></p>
                <p>
                
            </div>
              
            </mat-card-content>
           
          </mat-card>
          
    </form>
  </div>

</div>




