.example-spacer {
    flex: 1 1 auto;
  }
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .leftdiv
  {
    width: 10%;
    float: left;
  }
  .middlediv
  {
   
    margin-left: 164%;
    width: 105%;
  }
  .a{
    margin-right: 1%;
  }
  .hint{
    color: red;
  }