
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="courselist">
       
        <span>Course List</span>
      </a>
      <a mat-list-item routerLink="departmentlist">
        
        <span >Department</span>
      </a>
      <a mat-list-item routerLink="contactus">
        <span (click)="openDialog()" >Contact Us</span>
        
      </a>
      <a mat-list-item routerLink="dashboard">
        <span  >Dashboard</span>
        
      </a>
      <a mat-list-item routerLink="demo">
        <span  >Demo</span>
        
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <a mat-button [matMenuTriggerFor]="dropdown">

      menu

    </a> -->
    <!-- <mat-menu #dropdown>

      <button mat-menu-item routerLink="/">Courses</button>
      <button mat-menu-item routerLink="/">About</button>

    </mat-menu> -->
    
    <a mat-button routerLink="/register">
      <mat-icon>person_add</mat-icon>
      Register
    </a>
    <a mat-button routerLink="">
      <mat-icon>account_circle</mat-icon>
      Login
    </a>
    <a mat-button routerLink="aboutus">
      About Us
    </a>
  </mat-toolbar>
 
 <!-- <div>
  <button mat-raised-button matTooltip="You are understanding the concept of tooltip">Tooltip</button>
  
    </div> -->
    
  <router-outlet></router-outlet>

</mat-sidenav-container>
